/* 
Text Color


The color property sets the color of text inside an element:

selector {
    color: value;
}
Example:

h3 {
    color: purple;
}


Font Family


The font-family property specifies the typeface for text. List preferred fonts in order - if the first isn't available, the browser uses the next one.

Basic syntax:

selector {
    font-family: font1, font2, generic-family;
}
Guidelines:

Font names with spaces need quotation marks: "Times New Roman"
Separate multiple fonts with commas
Include a generic family (serif, sans-serif, monospace, cursive, fantasy) as fallback
Example:

p {
    font-family: Arial, Helvetica, sans-serif;
}


Font Size


The font-size property controls the size of text within an HTML element.

Common units for font sizes:

Pixels (px): Absolute unit specifying font size in pixels
Ems (em): Relative unit based on parent element's font size
Rems (rem): Relative unit based on root element's font size
Percentages (%): Relative unit based on parent element's font size


The font-weight property controls the boldness or thickness of text.

Numeric values:

100: Thin
200: Extra Light
300: Light
400: Normal
500: Medium
600: Semi Bold
700: Bold
800: Extra Bold
900: Black
Keyword values:

normal: Equivalent to 400
bold: Equivalent to 700
lighter: Lighter weight than parent element
bolder: Bolder weight than parent element


Text Alignment


The text-align property controls horizontal text alignment within an element.

Common values:

left: Aligns text to the left (default)
right: Aligns text to the right
center: Centers text horizontally
p {
    text-align: left;
}

h1 {
    text-align: center;
}

.right-align {
    text-align: right;
}



Text Decoration


The text-decoration property adds or removes decorations to text within HTML elements.

Common values:

none: Removes any text decoration (default)
underline: Adds an underline to the text
overline: Adds an overline above the text
line-through: Adds a strikethrough line

Background Color


The background-color property sets the background color of an HTML element:

selector {
    background-color: color-value;
}
Color values can be specified using:

Named colors: red, blue, green, black, white
Hexadecimal values: #FF0000 (red)
RGB values: rgb(255, 0, 0) (red)
body {
    background-color: lightblue;
}

h1 {
    background-color: #FF0000;
}

p {
    background-color: rgb(0, 0, 255);
}


HEX Colors


Hex colors use a six-digit hexadecimal code preceded by a hash symbol (#) to specify colors. Each pair of digits represents the intensity of red, green, and blue light, ranging from 00 (no intensity) to FF (full intensity).

Basic syntax:

selector {
    color: #RRGGBB;
    background-color: #RRGGBB;
}
Example:

p {
    color: #FF0000;  Red 
    background-color: #00FF00;  Green 
}
Shorthand notation can be used when both digits in each pair are the same:

p {
    color: #F00;  Red (equivalent to #FF0000) 
    background-color: #0F0;  Green (equivalent to #00FF00) 
}

RGB Colors


RGB colors use the rgb() functional notation with values from 0 to 255 for red, green, and blue:

selector {
    color: rgb(red, green, blue);
    background-color: rgb(red, green, blue);
}
Examples:

p {
    color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 0); 
}

h1 {
    color: rgb(0, 0, 255); 
}

.highlight {
    background-color: rgb(255, 255, 0); 
}
*/
