body {
  margin: 0;
  background-color: lightgreen;
}
.hero {
  background-color: rgb(2, 73, 2);
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero h1 {
  font-weight: 800;
  font-size: 3em;
  color: whitesmoke;
}
.hero p {
  color: white;
  margin: 1.5em;
  margin-bottom: 0.5em;
}
.btn {
  background-color: #ff9933;
}
.btn:hover {
  background-color: aqua;
  transition: 0.4s ease;
}
.btn:active {
  background-color: rgb(247, 14, 196);
}
.features {
  text-align: center;
  padding: 20px;
  text-align: center;
}
.section-title {
  font-size: 2.3em;
  color: white;
  margin-bottom: 1.5em;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  justify-content: center;
}
.feature {
  background-color: white;
  padding: 1.5em;
  border-radius: 10px;
  border: 2px solid black;
  width: 35%;
}
.feature .icon {
  font-size: 2em;
  margin: 0 0 10%;
}
.feature h3 {
  color: green;
  margin: 0 0 5%;
}
.feature:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 12px black;
  transition: transform 0.6s ease;
}
